.btn--link {
  text-transform: uppercase;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 5px;
  height: fit-content;
}

.add--link {
  color: white !important;
  background-color: #5fabe9;
  &:hover {
    background-color: #2196f3;
  }
}

.push--right {
  display: flex;
  width: fit-content;
  margin-left: auto;
}

.update--btn{
  text-transform: uppercase;
  color: white !important;
  text-decoration: none;
  border-radius: 5px;
  background-color: #EF6C00;
  padding: 7px 15px;
  font-size: 12px;
}
