.v-input__prepend-outer {
  display: none;
}

.align--left {
  width: 100%;
  text-align: left;
  display: block;
  color: #636364;
}

.check--colours {
  display: flex;
  justify-content: space-between;
}
