.text-start {
  text-transform: capitalize;
}

.call--action {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
.v-data-table > .v-data-table__wrapper > table > thead > tr > td,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > td {
  height: 130px;
}

td{
  text-transform: initial;
}

.colours--list {
  display: flex;
  li {
    list-style-type: none;
    text-align: center;
    border-radius: 3px;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 100%;
    margin: auto 5px;
  }
}

[data-colour="rouge"]{
  background: red;
}

[data-colour="vert"]{
  background: green;
}

[data-colour="jaune"]{
  background: goldenrod ;
}

[data-colour="bleu"]{
  background: blue;
}

[data-colour="violet"]{
  background: purple;
}

[data-colour="noir"]{
  background: black;
}

[data-colour="blanc"]{
  background: lightgray;
}

[data-colour="rose"]{
  background: pink;
}

[data-colour="orange"]{
  background: orange;
}

[data-colour="marron"]{
  background: brown;
}
